.wrapper {
  padding-top: 50px;
  background: url('https://www.lesleyfriedmann.com/uploads/3/4/5/2/34521419/65-00096-web_2_orig.jpg');
  opacity: 80%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
